* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: inherit;
}

ol, ul {
    list-style: none;
}

/* === VAR ===*/

:root {
    /* Cores */
    --Dark-Blues-1-hex: #0077CC;
    --Dark-Blues-2-hex: #005999;
    --Dark-Blues-3-hex: #003C66;
    --Dark-Blues-4-hex: #001E33;
    --Dark-Blues-5-hex: #000F1A;
    /* Sombras */
    --Shadow-Blues-1-rgba: rgba(0, 119, 204, 1);
    --Shadow-Blues-2-rgba: rgba(0, 89, 153, 1);
    --Shadow-Blues-3-rgba: rgba(0, 59, 102, 1);
    --Shadow-Blues-4-rgba: rgba(0, 29, 51, 1);
    --Shadow-Blues-5-rgba: rgba(0, 14, 25, 1);
    /* Grid */
    --grid-geral: 1300px;
}

/* === TOP === */

.top {
    background-color: var(--Dark-Blues-4-hex);
    height: 2.375rem;
    display: flex;
    align-items: center;
    padding-left: .938rem;
}

.top__circle {
    width: .625rem;
    height: .625rem;
    border-radius: 50%;
    margin-right: .313rem;
}

.top__circle--blue {
    background-color: var(--Dark-Blues-1-hex);
}

.top__circle--blue2 {
    background-color: var(--Dark-Blues-2-hex);
}

.top__circle--blue3 {
    background-color: var(--Dark-Blues-3-hex);
}

/* ==== HEADER ==== */

.header {
    background-color: var(--Dark-Blues-5-hex);
    color: #e4e4e4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header__logo {
    text-transform: uppercase;
    font-weight: bold;
}

.header__link {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem 0;
}

.header__img {
    width: 4rem;
    height: 4rem;
    padding-bottom: .313rem;
}

.nav__list {
    display: flex;
    margin-top: 1.25rem;
    background-color: var(--Dark-Blues-4-hex);
    border-radius: 10px;
}

.nav__item {
    padding: .625rem .313rem;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

.nav__link {
    padding: .313rem;
}

.nav__link:hover {
    color: #b9b9b9;
    border-bottom: 3px solid #b9b9b9;;
    transition: .2s;
}

/* ==== MAIN ==== */
